body{
    background-color: white;
}

@media (min-width: 700px){
.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
}
}
.main{
    background-image: linear-gradient(to bottom right, white,#e6e6e6,#dedede);
}

.col-md-12{
    border-color: black;
}

.carousel-item{
    height: 32rem;
    background: black;
    color: white;
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1623874514711-0f321325f318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.container1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}
.search_bar{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}